body {
    background: #121920;
    overflow: hidden;
    transition: background-color 1s ease-in-out; /* Transición suave de color */
}

.section-lamp {
    overflow: hidden;
    /* background: #121920 ; */
    background-image: url(../assets/undraw_mello_otq1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.section-people {
    overflow: hidden;
    /* background: #FFF ;    */
    background-image: url(../assets/undraw_having_fun_re_vj4h.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.lamp-container {
    display: flex;
}

.lamp {
    position: relative;
    width: 150px;
}

.lamp-item {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.lamp-top {
    top: 0;
    width: calc(10px/2);
    height: calc(100px/2);
    background: #2d2d2d;
    pointer-events: none;
}

.lamp-middle {
    cursor: pointer;
    width: calc(50px/2);
    height: calc(30px/2);
    background: #2d2d2d;
    border-radius: calc(50px/2) calc(50px/2) 0 0;
    top: calc(99px/2);
}

.lamp-bottom {
    cursor: pointer;
    width: calc(150px/2);
    height: calc(80px/2);
    background: #2d2d2d;
    border-radius: calc(100px/2) calc(100px/2) 0 0;
    top: calc(120px/2);
}

.lamp-light.on {
    width: 150px;
    height: 270px;
    background: rgba(255, 248, 229, 0.5);
    clip-path: polygon(25% 0, 75% 0, 99% 100%, 0% 100%);
    top: calc(200px/2);
    pointer-events: none;
    animation: fadeIn .3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.lamp-light.off {
    display: none;
}

.color-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Nav-Menu */
.offcanvas-body {
    padding: 20px;
}

.menu-settings h6 {
    font-size: 1rem;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.color-menu .form-group {
    margin-bottom: 15px;
}

.list-group-item {
    border: none;
    transition: all 0.2s ease-in-out;
}

.list-group-item:hover {
    transform: scale(1.02);
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
}

/* TITLE */
.song-container {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    /* Esconde el texto fuera del área visible */
    white-space: nowrap;
    position: relative;
    width: 200px;
    /* Ajusta según el diseño deseado */
    color: #fff;
}

.song-title {
    display: inline-block;
    animation: scrollText linear infinite;
    /* Aplica animación CSS inicialmente */
    font-size: 1rem;
}

/* GSAP sobrescribirá este keyframe, pero aquí está un fallback */
@keyframes scrollText {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}


/* Icon */
.navbar-toggler i {
    font-size: 1.5rem;
    color: white;
    transition: transform 0.2s ease-in-out;
}

.navbar-toggler:hover i {
    transform: rotate(90deg);
    color: #f8f9fa;
    /* Cambia ligeramente el color al pasar el cursor */
}